<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add Categories</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container" style="width: 400px"	>
		<h1>Add category</h1>
			<div>
				<form th:object="${category}" th:action="@{catsave}" action="#" method="post">
					<label for="name">Name</label>
						<input type="text" th:field="*{name}" />
					<input type="submit" class="btn btn-success" value="Save"></input>
					<a href="/collection"><input type="button" value="Back to Bookshelf" class="btn btn-success"></input></a>
				</form>
			</div>
	</div>

</body>
</html>