<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Login</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container" style="width: 400px">
	<div><h1>Log in here</h1></div>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>
	<div style="margin: 20px 0px"><form th:action="@{/login}" method="post">
		<div><label>Username: <input type="text" name="username" /> </label></div>
		<div><label>Password: <input type="password" name="password" /></label></div>
		<div><input type="submit" value="Sign In" class="btn btn-success" />
		<a href="/collection"><input type="button" value="Go to Bookshelf without logging in" class="btn btn-success"></a></div>
	</form>
	</div>
	
</div>
</body>
</html>